#~/.vim/UltiSnips/python.snippets

snippet phd "create python head for the files" b
#!/usr/bin/env python
# -*- coding: utf-8 -*-

# -----------------------------------------------------
#  FileName    :	`!v expand("%:t")` 
#  Author      :    wuqingfeng@
#  Date        :    `!v strftime("%Y-%m-%d")`
# -----------------------------------------------------
${0}
endsnippet
